ProyectoFinalPrograIII/xml-resources/web-service-references/WebServiceBar/wsdl/localhost_8080/WebServiceProgra3/WebServiceBar.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServiceBar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServiceBar/" name="WebServiceBar">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServiceBar/" schemaLocation="http://localhost:8080/WebServiceProgra3/WebServiceBar?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarProductos">
<part name="parameters" element="tns:agregarProductos"/>
</message>
<message name="agregarProductosResponse">
<part name="parameters" element="tns:agregarProductosResponse"/>
</message>
<message name="modificarUsuario">
<part name="parameters" element="tns:modificarUsuario"/>
</message>
<message name="modificarUsuarioResponse">
<part name="parameters" element="tns:modificarUsuarioResponse"/>
</message>
<message name="confirmarVenta">
<part name="parameters" element="tns:confirmarVenta"/>
</message>
<message name="confirmarVentaResponse">
<part name="parameters" element="tns:confirmarVentaResponse"/>
</message>
<message name="buscarUsuarios">
<part name="parameters" element="tns:buscarUsuarios"/>
</message>
<message name="buscarUsuariosResponse">
<part name="parameters" element="tns:buscarUsuariosResponse"/>
</message>
<message name="listarProductos">
<part name="parameters" element="tns:listarProductos"/>
</message>
<message name="listarProductosResponse">
<part name="parameters" element="tns:listarProductosResponse"/>
</message>
<message name="agregarUsuario">
<part name="parameters" element="tns:agregarUsuario"/>
</message>
<message name="agregarUsuarioResponse">
<part name="parameters" element="tns:agregarUsuarioResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="probarConexionBD">
<part name="parameters" element="tns:probarConexionBD"/>
</message>
<message name="probarConexionBDResponse">
<part name="parameters" element="tns:probarConexionBDResponse"/>
</message>
<message name="buscarVenta">
<part name="parameters" element="tns:buscarVenta"/>
</message>
<message name="buscarVentaResponse">
<part name="parameters" element="tns:buscarVentaResponse"/>
</message>
<message name="listarVentas">
<part name="parameters" element="tns:listarVentas"/>
</message>
<message name="listarVentasResponse">
<part name="parameters" element="tns:listarVentasResponse"/>
</message>
<message name="listarCategoria">
<part name="parameters" element="tns:listarCategoria"/>
</message>
<message name="listarCategoriaResponse">
<part name="parameters" element="tns:listarCategoriaResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="modificarDetalleVenta">
<part name="parameters" element="tns:modificarDetalleVenta"/>
</message>
<message name="modificarDetalleVentaResponse">
<part name="parameters" element="tns:modificarDetalleVentaResponse"/>
</message>
<message name="eliminarDetalleVenta">
<part name="parameters" element="tns:eliminarDetalleVenta"/>
</message>
<message name="eliminarDetalleVentaResponse">
<part name="parameters" element="tns:eliminarDetalleVentaResponse"/>
</message>
<message name="modificarCategoria">
<part name="parameters" element="tns:modificarCategoria"/>
</message>
<message name="modificarCategoriaResponse">
<part name="parameters" element="tns:modificarCategoriaResponse"/>
</message>
<message name="insertarProductos">
<part name="parameters" element="tns:insertarProductos"/>
</message>
<message name="insertarProductosResponse">
<part name="parameters" element="tns:insertarProductosResponse"/>
</message>
<message name="insertarCategoria">
<part name="parameters" element="tns:insertarCategoria"/>
</message>
<message name="insertarCategoriaResponse">
<part name="parameters" element="tns:insertarCategoriaResponse"/>
</message>
<message name="insetarDetalleVenta">
<part name="parameters" element="tns:insetarDetalleVenta"/>
</message>
<message name="insetarDetalleVentaResponse">
<part name="parameters" element="tns:insetarDetalleVentaResponse"/>
</message>
<message name="obtenerDetalleVenta">
<part name="parameters" element="tns:obtenerDetalleVenta"/>
</message>
<message name="obtenerDetalleVentaResponse">
<part name="parameters" element="tns:obtenerDetalleVentaResponse"/>
</message>
<message name="modificarProducto">
<part name="parameters" element="tns:modificarProducto"/>
</message>
<message name="modificarProductoResponse">
<part name="parameters" element="tns:modificarProductoResponse"/>
</message>
<portType name="WebServiceBar">
<operation name="agregarProductos">
<input wsam:Action="http://WebServiceBar/WebServiceBar/agregarProductosRequest" message="tns:agregarProductos"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/agregarProductosResponse" message="tns:agregarProductosResponse"/>
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://WebServiceBar/WebServiceBar/modificarUsuarioRequest" message="tns:modificarUsuario"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
</operation>
<operation name="confirmarVenta">
<input wsam:Action="http://WebServiceBar/WebServiceBar/confirmarVentaRequest" message="tns:confirmarVenta"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/confirmarVentaResponse" message="tns:confirmarVentaResponse"/>
</operation>
<operation name="buscarUsuarios">
<input wsam:Action="http://WebServiceBar/WebServiceBar/buscarUsuariosRequest" message="tns:buscarUsuarios"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/buscarUsuariosResponse" message="tns:buscarUsuariosResponse"/>
</operation>
<operation name="listarProductos">
<input wsam:Action="http://WebServiceBar/WebServiceBar/listarProductosRequest" message="tns:listarProductos"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/listarProductosResponse" message="tns:listarProductosResponse"/>
</operation>
<operation name="agregarUsuario">
<input wsam:Action="http://WebServiceBar/WebServiceBar/agregarUsuarioRequest" message="tns:agregarUsuario"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/agregarUsuarioResponse" message="tns:agregarUsuarioResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://WebServiceBar/WebServiceBar/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="probarConexionBD">
<input wsam:Action="http://WebServiceBar/WebServiceBar/probarConexionBDRequest" message="tns:probarConexionBD"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/probarConexionBDResponse" message="tns:probarConexionBDResponse"/>
</operation>
<operation name="buscarVenta">
<input wsam:Action="http://WebServiceBar/WebServiceBar/buscarVentaRequest" message="tns:buscarVenta"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/buscarVentaResponse" message="tns:buscarVentaResponse"/>
</operation>
<operation name="listarVentas">
<input wsam:Action="http://WebServiceBar/WebServiceBar/listarVentasRequest" message="tns:listarVentas"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/listarVentasResponse" message="tns:listarVentasResponse"/>
</operation>
<operation name="listarCategoria">
<input wsam:Action="http://WebServiceBar/WebServiceBar/listarCategoriaRequest" message="tns:listarCategoria"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/listarCategoriaResponse" message="tns:listarCategoriaResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://WebServiceBar/WebServiceBar/loginRequest" message="tns:login"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="modificarDetalleVenta">
<input wsam:Action="http://WebServiceBar/WebServiceBar/modificarDetalleVentaRequest" message="tns:modificarDetalleVenta"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/modificarDetalleVentaResponse" message="tns:modificarDetalleVentaResponse"/>
</operation>
<operation name="eliminarDetalleVenta">
<input wsam:Action="http://WebServiceBar/WebServiceBar/eliminarDetalleVentaRequest" message="tns:eliminarDetalleVenta"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/eliminarDetalleVentaResponse" message="tns:eliminarDetalleVentaResponse"/>
</operation>
<operation name="modificarCategoria">
<input wsam:Action="http://WebServiceBar/WebServiceBar/modificarCategoriaRequest" message="tns:modificarCategoria"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/modificarCategoriaResponse" message="tns:modificarCategoriaResponse"/>
</operation>
<operation name="insertarProductos">
<input wsam:Action="http://WebServiceBar/WebServiceBar/insertarProductosRequest" message="tns:insertarProductos"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/insertarProductosResponse" message="tns:insertarProductosResponse"/>
</operation>
<operation name="insertarCategoria">
<input wsam:Action="http://WebServiceBar/WebServiceBar/insertarCategoriaRequest" message="tns:insertarCategoria"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/insertarCategoriaResponse" message="tns:insertarCategoriaResponse"/>
</operation>
<operation name="insetarDetalleVenta">
<input wsam:Action="http://WebServiceBar/WebServiceBar/insetarDetalleVentaRequest" message="tns:insetarDetalleVenta"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/insetarDetalleVentaResponse" message="tns:insetarDetalleVentaResponse"/>
</operation>
<operation name="obtenerDetalleVenta">
<input wsam:Action="http://WebServiceBar/WebServiceBar/obtenerDetalleVentaRequest" message="tns:obtenerDetalleVenta"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/obtenerDetalleVentaResponse" message="tns:obtenerDetalleVentaResponse"/>
</operation>
<operation name="modificarProducto">
<input wsam:Action="http://WebServiceBar/WebServiceBar/modificarProductoRequest" message="tns:modificarProducto"/>
<output wsam:Action="http://WebServiceBar/WebServiceBar/modificarProductoResponse" message="tns:modificarProductoResponse"/>
</operation>
</portType>
<binding name="WebServiceBarPortBinding" type="tns:WebServiceBar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="probarConexionBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insetarDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDetalleVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceBar">
<port name="WebServiceBarPort" binding="tns:WebServiceBarPortBinding">
<soap:address location="http://localhost:8080/WebServiceProgra3/WebServiceBar"/>
</port>
</service>
</definitions>